.git
.DS_Store
*.swp
*.o
*.lo
.deps
Makefile.in
/Makefile
/doc/Makefile
/src/Makefile
/src/ipc-dbus/Makefile
/src/util/Makefile
/src/concordctl/Makefile
/src/concordd/Makefile
/src/common/Makefile
/src/concordd/version.c
/src/missing/Makefile
/src/missing/strlcat/Makefile
/src/missing/strlcpy/Makefile
/third_party/Makefile
*.gcda
*.gcno
*~
*~.c
*.xcuserdatad
*.orig
xcuserdata
.gdb_history
*.a
*.la
.gdbinit
/build
/build-*
/DerivedData
/autom4te.cache
/aclocal.m4
/config.h.in
/config.log
/config.status
/configure
/libtool
/src/config.h
/m4
/concordd-*/
/concordd-*.tar.*
src/stamp-h1
src/config.h.in
doxygen.cfg
*.gz
/src/concordd/concordd
/src/concordctl/concordctl
.dirstamp
/src/concordctl/version.c
concordd.xcodeproj/project.xcworkspace/xcshareddata/concordd.xccheckout
.cproject
.project
src/concordd/.libs/concordd
